<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NouvelleAnnonce"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MailLecture"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MailEnvoie"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Article"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Annonce"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MailReception"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Accueil"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Messagerie"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Drive"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Note"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Calendrier"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Information"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Connexion"
            android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />

            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>
        </activity>


        <service
            android:name=".FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".FindToken" />
        <activity android:name=".ChatReception"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Recherche"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ChatLecture"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>